{
  "presets": [
    ["es2015", { "modules": false }]
  ],
  "env": {
    "rollup": {
      "plugins": [
        "external-helpers"
      ]
    },
    "test": {
      "presets": [
        ["es2015", { "modules": "commonjs" }]
      ]
    }
  }
}